.ArticleLink {
    text-decoration: none;
}

.ArticleBoxBackground {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 130px;
    width: 534px;
    background-color: #22243593;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.233);
    margin: 5px;
}

.Thumbnail {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    margin-right:10px;
    margin-left: 5px;
}

.ThumbnailText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 120px;
}

h2.ThumbnailTitle {
    text-align: left;
    font-size: 21px;
    font-weight: bold;
    margin: 0px;
    color: #e2e2e2;
}

.ThumbnailDescription {
    text-align: left;
    font-size: 13px;
    margin: 0px;
    color: #cacacaa6;
}

@media (max-width: 567px) {
    .ArticleBoxBackground {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    width: 100%;
    max-width: 200px;
    min-width: 199px;
    background-color: #22243593;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.233);
    margin: 5px;
    }

    .Thumbnail {
         width: 190px;
        height: 190px;
        border-radius: 10px;
        margin: 0 auto;
    }

    .ThumbnailText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: fit-content;
    }

    h2.ThumbnailTitle {
        text-align: center;
        font-size: 21px;
        font-weight: bold;
        margin: 0px;
        color: #e2e2e2;
    }

    .ThumbnailDescription {
        text-align: center;
        font-size: 13px;
        margin: 0px;
        color: #cacacaa6;
    }
}